#container {
  text-align: center;
  width: 100%;
  padding: 20px;
  background: #eee;
}

.clock {
  border: #555 solid 1px;
  background: #ededed;
  display: inline-block;
  position: relative;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
}

.closeContainer {
  position: relative;
}

.close {
  float: right;
  right: 2px;
  top: 2px;
  color: red;
  font-size: 4px;
  cursor: pointer;
}

.location {
  margin-top: 4px;
  margin-right: 4ch;
  margin-left: 4px;
  font-size: 140%;
}

.timer {
  font-size: 2rem;
  padding: 8px;
}


.card {
  width: 16rem;
  margin: auto;
}
